@font-face {
    font-family: MyFont;
    src: url(Quinsi.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 246, 234);
    height: 100%;
}

header {
    background-color: #e0981c;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#headerLogo {
    display: flex;
    margin-top: -20px;
    margin-bottom: -100px;
    padding: 0;
}

body > header > a > img {
    height: 1000px;
    width: 1000px;
}

.menu {
    background-color: #916066;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 5px 0;
}

.menu a {
    color: antiquewhite;
    text-decoration: none;
}

.menu a:visited {
    color: antiquewhite;
}

.menu a:hover {
    color: rgb(237, 202, 159);
}

ul {
    font-family: MyFont;
    display: flex;
    justify-content: center;
    list-style: none; /* Tar bort punktmarkeringarna */
    text-decoration: none;
    gap: 5rem; /* Ger lite avstånd mellan menypunkterna */
    padding: 0;
    font-size: large;
}

body > header > div > ul {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.card-img-top {
    display: flex;
    margin: auto;
    width: auto;
    height: 200px;
}

.rubriker {
    display: flex;
    justify-content: center;
    font-family: MyFont;
}

#carouselExampleSlidesOnly {
    padding-top: 100px;
}

.container {
    background-color: rgb(255, 246, 234);
}

#cards-container {
    background-color: rgb(255, 246, 234);
    padding: 20px;
}

.card {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* .toppnoter {
    display: flex;
    flex: 0 0 1000px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

button {
    border-radius: 10px;
    background-color: #826161;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1;
} */

footer {
    padding: 20px;
    background-color: blue;
}

#headerLogo {
    width: 1000px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#carouselExampleCaptions
    > button.carousel-control-next
    > span.carousel-control-next-icon {
    background-color: black !important;
}

#carouselExampleCaptions
    > button.carousel-control-prev
    > span.carousel-control-prev-icon {
    background-color: black !important;
}

#carouselExampleCaptions
    > div.carousel-inner
    > div.carousel-item.active
    > div
    > h5 {
    color: black !important;
}
